.ServiceHerosContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.906);
}

.ServiceHerosChildOne {
    gap: 20px;
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.ServiceHerosChilds {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.ServiceHerosH1 {
    font-size: 25px;
    cursor: pointer;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}

.ServiceHerosH2 {
    font-size: 25px;
    cursor: pointer;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
}

.ServiceHerosParagraph {
    width: 850px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 100;
    color: #FFFFFF99;
}

.ServiceHerosChildTwo {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    padding-bottom: 40px;
    justify-content: center;
}

.ServiceHeroImages {
    width: 300px;
    height: auto;
    cursor: pointer;
    scroll-snap-align: center;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.SliderContainer {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 40px;
}

.ActiveImage {
    transform: scale(1.2);
    z-index: 1;
}

.ImageSlider {
    gap: 20px;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-snap-type: x mandatory;
}

.ImageSlider::-webkit-scrollbar {
    display: none;
}

.SliderButtons {
    gap: 10px;
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.SliderButtons {
    display: flex;
    width: 120px;
    height: 30px;
    margin: 10px auto 0;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    transition: background-color 0.3s;
    background-color: rgba(245, 245, 245, 0.911);
}

.SliderButton {
    color: #000;
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    font-weight: 800;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    border: solid 5px rgba(245, 245, 245, 0.911);
    background-color: rgba(245, 245, 245, 0.911);
}

.SliderButton:hover {
    width: 40px;
    height: 40px;
    background-color: #444;
    color: rgba(245, 245, 245, 0.911);
}


@media all and (max-width: 750px) {

    .ServiceHerosChilds {
        gap: 10px;
        width: 100%;
        padding-top: 80px;
    }

    .ServiceHerosH1 {
        font-size: 25px;
        text-align: center;
    }

    .ServiceHerosChildOne {
        gap: 20px;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .ServiceHerosParagraph {
        width: 90%;
        font-size: 30px;
        padding-top: 50px;
        text-align: center;
    }

    .ServiceHeroImages {
        width: 500px;
    }

    .SliderContainer {
        width: 100%;
        padding-top: 50px;
    }
}